.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
@media (min-width: 790px) and (max-width: 1220px) {
  .list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1450px) {
  .list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 2140px) {
  .list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}
